# Local environment settings
.local.env
.secrets
.test.env

# Binaries for programs and plugins
examples/scheduler/scheduler
examples/simple/simple
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cov.html

# Dependency directories (remove the comment below to include it)
vendor/

# build directory
build

# Go workspace file
go.work

# VSCode config
# IDE
.vscode/
